<div class="users_list">
  <div class="about-wrapper">
    <div class="about-header">
      <div class="header-content">
        <h2>こんにちは♪</h2>
        <p>このアプリは保護動物を対象とした里親募集のマッチングアプリです。</br>
        より多くの動物達が幸せになることを祈っております。</p> 
      </div>
    </div>
    </br>

    <div class="about-body">
      <div class="body-content">
        <h2>Find-Animals-Appとは？</h2>
            <p>本アプリケーションは里親を募集している動物の存在を認識するための
            入り口を目的としています。</br>
            動物を保護したが、引き取りての探し方がわからない、</br>
            やむを得ない事情でペットを手放しせざるを得ない状況になってしまった。</br>
            そんな動物達をどう幸せにするのか。</br>
            引き取った家族はどう幸せになるのかを考えて利用していただけたら幸いです。</br>
            また、最終的な譲渡は対面、素性の認識のある上での譲渡をお願いいたします。</p>
      </div>
    </div>

    </br>
    <div class="about-footer">
      <div class="footer-content">
        <h2>使い方</h2>
          <p>まずは、ユーザの新規登録を行いましょう。</br>
          ユーザ情報の編集も行えるので常時、アップデート可能です。</br>
          動物の里親募集記事を見てみましょう。</br>
          現状で、どんな動物が貰い手を募集しているのかを確認できます。</br>
          お気に入り登録（ハートマークをクリック）することで、</br>
          気になる動物の最新の情報がキャッチアップしやすくなっております。</br>
          動物を保護していて、貰い手を探している方は、</br>
          新規投稿を行なっていきましょう</br>
          動物の情報を入力し、画像をアップしたら完了です。</br>
          コメント欄もあるので応援やみんなの声を聞いてみたり、現状の報告ができます。</br>
          ダイレクトメッセージ機能で投稿者へのメッセージが送れます。</br>
          ネット情報だけだとイメージや相性が掴みづらいかもしれません。</br>
          イベントスケジュールを確認し、近くでイベントが行われていたら、足を運んで見るのも良いでしょう。</br>
          実際に対面での確認もできますし、人対人の信頼度も築けるかと思います。</br>
          本アプリを利用して、動物、家族、人が幸せな日々を送りましょう。
          </p>
        </div>
      </div>
  </div>
</div>