<main class="main">
  <div class="inner">

    <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to "­ЪљЙ#{current_user.nickname} ", "/users/#{current_user.id}", class: :greeting__link%>
        сЂЋсѓЊсЂесЂЌсЂдсЃГсѓ░сѓцсЃ│сЂЌсЂдсЂёсЂЙсЂЎ<span class="foot-mark">­ЪљЙ<span>
      </div>
      <% end %>

    <div class="card__wrapper">

      <div class="card__wrapper">
      <%= render partial: "animal", collection: @animals %>
      </div>
    </div>
  </div>
</main>
