<main class="main">
  <div class="inner">

    <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to "🐾#{current_user.nickname} ", "/users/#{current_user.id}", class: :greeting__link%>
        さんとしてログインしています<span class="foot-mark">🐾<span>
      </div>
      <% end %>

    <div class="card__wrapper">
      <%# 部分テンプレートでプロトタイプ投稿一覧を表示 %>
      <div class="card__wrapper">
      <%= render partial: "animal", collection: @animals %>
      </div>
    </div>
  </div>
</main>
