<main class="main">
  <div class="inner">

    <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to "ðŸ¾#{current_user.nickname} ã•ã‚“ã¨ã—ã¦ãƒ­ã‚°ã‚¤ãƒ³ã—ã¦ã„ã¾ã™ðŸ¾", "/users/#{current_user.id}", class: :greeting__link%>
      </div>
      <% end %>

    <div class="card__wrapper">
      <%# éƒ¨åˆ†ãƒ†ãƒ³ãƒ—ãƒ¬ãƒ¼ãƒˆã§ãƒ—ãƒ­ãƒˆã‚¿ã‚¤ãƒ—æŠ•ç¨¿ä¸€è¦§ã‚’è¡¨ç¤º %>
      <div class="card__wrapper">
      <%= render partial: "animal", collection: @animals %>
      </div>
    </div>
  </div>
</main>
